/*
/.idea/
/.idea/*
!/app/
/app/*
!/app/code/
/app/code/*
!/app/code/local/
/app/code/local/*
!/app/code/local/BlueAcorn/
!/app/code/local/BlueAcorn/*

!/app/etc/
/app/etc/*
!/app/etc/modules/
/app/etc/modules/*
!/app/etc/modules/BlueAcorn_*.xml

!/app/design/
/app/design/*
!/app/design/frontend/
/app/design/frontend/*
!/app/design/frontend/blueacorn/
!/app/design/frontend/blueacorn/*
/app/design/frontend/blueacorn/enterprise
/app/design/frontend/blueacorn/default
/app/design/frontend/blueacorn/enterprise/*
/app/design/frontend/blueacorn/default/*


!/app/design/frontend/base/
/app/design/frontend/base/*
!/app/design/frontend/base/default/
/app/design/frontend/base/default/*
!/app/design/frontend/base/default/layout/
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/blueacorn/
!/app/design/frontend/base/default/layout/blueacorn/*
!/app/design/frontend/base/default/layout/blueacorn*.xml

!/app/design/frontend/base/default/template/
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/blueacorn/
!/app/design/frontend/base/default/template/blueacorn/*

!/js/
/js/*
!/js/blueacorn/
!/js/blueacorn/*
!/js/blueacorn-library.js

!/skin/
/skin/*
!/skin/frontend/
/skin/frontend/*
!/skin/frontend/blueacorn/
!/skin/frontend/blueacorn/*
/skin/frontend/blueacorn/enterprise
/skin/frontend/blueacorn/default
/skin/frontend/blueacorn/enterprise/*
/skin/frontend/blueacorn/default/*

!/skin/frontend/base/
/skin/frontend/base/*
!/skin/frontend/base/default/
/skin/frontend/base/default/*
!/skin/frontend/base/default/js/
!/skin/frontend/base/default/images/
!/skin/frontend/base/default/css/
!/skin/frontend/base/default/scss/
!/skin/frontend/base/default/less/
/skin/frontend/base/default/js/*
/skin/frontend/base/default/images/*
/skin/frontend/base/default/css/*
/skin/frontend/base/default/scss/*
/skin/frontend/base/default/less/*
!/skin/frontend/base/default/js/blueacorn/
!/skin/frontend/base/default/js/blueacorn/*
!/skin/frontend/base/default/images/blueacorn/
!/skin/frontend/base/default/images/blueacorn/*
!/skin/frontend/base/default/css/blueacorn/
!/skin/frontend/base/default/css/blueacorn/*
!/skin/frontend/base/default/scss/blueacorn/
!/skin/frontend/base/default/scss/blueacorn/*
!/skin/frontend/base/default/less/blueacorn/
!/skin/frontend/base/default/less/blueacorn/*

!/.gitignore
!/modman
!/shippingCarrierServer.js
